body {
	background-repeat: repeat;
	background-image: url('../img/bg.png');
}
h1 {
	text-align: center;
	font: 30px Roboto;
	margin-bottom: 30px;
}
h2 {
	text-align: center;
	font: 400 20px 'Roboto';
	margin-bottom: 30px;
}
hr {
	margin: 0px;
}

.cite-body {
	width: 1000px;
	margin: -10px auto;
	background-color: white;
}

.header {
	width: 100%;
	height: 60px;
	background-color: #ffb841;
}

.container-head {
	display: flex;
	align-items: center;
}

.container {
	line-height: 1.5; 
	font: 400 14px 'Roboto';
}
.main-matches {
	margin-bottom: 50px;
	padding: 0px 10px;
}
.main-news {
	margin-bottom: 50px;
	padding: 0px 10px;
}

.logo {
	width: 60px;
	height: 60px;
	display: inline-block;
}	

.nav-bar-unlog {
	width: 240px;
	margin-left: 160px;
	height: 60px;
	display: flex;
	align-items: center;
}
.nav-bar-log {
	width: 320px;
	margin-left: 80px;
	height: 60px;
	display: flex;
	align-items: center;
}

.nav-link {
	width: 130px;
	height: 60px;
	display: flex;
	align-items: center;
	border-right: 1px solid #f28b30;
}

.nav-link-btn {
	width: 120px;
	height: 30px;
	border: 1px solid #f28b30;
	background-color: #f28b30;
	border-radius: 3px;
	margin: auto 5px;
	font: 400 16px 'Roboto';
	text-decoration: none;
	display: flex;
	align-items: center;
	color: white;
}
.nav-link-btn:hover {
	border: 1px solid #a6633a;
}
.nav-link-btn span{
	margin: auto;
}

.nav-link > a{
	margin: auto;
	font: 400 18px 'Roboto';
	text-decoration: none;
	color: white;
}
.nav-link-btn a:hover{
	text-decoration: underline;
}
.nav-link-btn a{
	margin: 0px auto;
	font: 400 18px 'Roboto';
	text-decoration: none;
	color: white;
}
.nav-link > a:hover{
	text-decoration: underline;
}

.menu{
	margin: auto;
	padding: 0px;
	font: 400 18px 'Roboto';
	color: white;
}
.submenu{
	display: none;
	width: 130px;
	position: relative;
	margin: auto;
	padding: 0px;
	color: white;
	background-color: #ffb841;
	border: 1px solid #f28b30;
}
.submenu > li{
	font: 400 14px 'Roboto';
	padding: 5px 0px;
	display: block;
}
.submenu > li > a{
	display: block;
	text-align: center;
	font: 400 18px 'Roboto';
	text-decoration: none;
	color: white;
}
.menu:hover{
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.menu:hover > p{
	padding: 1px 0px 0px 10px;
}
.menu:hover > .submenu{
	display: block;
}
.submenu > li > a:hover{
	text-decoration: underline;
}

.nav-link-nick{
	height: 30px;
	width: 200px;
	margin: auto 15px;
	display: flex;
	align-items: center;
	color: white;	
	text-decoration: none;
	font: 400 18px 'Roboto';
}
.nav-link-nick span{
	width: 100%;
	text-align: right;
}
.nav-link-nick:hover{
	text-decoration: underline;
}

.match-form-main {
	margin: 0px 13px 13px 13px;
	padding: 5px;
	border: 1px none black;
	border-radius: 10px;
	height: 100%;
	width: 450px;
	display: inline-block;
	vertical-align: top;
}

.news-form {
	margin: 0px 13px 13px 13px;
	padding: 5px;
	border: 1px none black;
	border-radius: 10px;
	height: 550px;
	width: 450px;
	display: inline-block;
	overflow: hidden;
}
.news-form img{
	border-radius: 5px;
}
.news-form p{
	font: 400 18px 'Roboto';
}
.news-form-a{
	padding: 10px;
	text-align: center;
	line-height: 1.5; 
	font: 400 24px 'Roboto';
	width: 100%;
}
.news-form-a a{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
.news-form-a a:hover{
	text-decoration: underline;
}
.news-form-p{
	margin-top: 10px;
	font: 400 20px 'Roboto';
	width: 100%;
}
.ms {
	margin-left: 18px;	
}
.ms a{
	margin-left: 18px;	
}
.ms2 {
	font: 16px 'Roboto';
	margin-top: 15px;	
}
.ms2 a{
	color:black;	
	text-decoration: none;
}
.ms2 a:hover{
	text-decoration: underline;
}
.match-add-head {
	text-align: center;	
	font: 16px 'Roboto';
}
.container-view {
	width: 650px;
	height: 100%;
	padding: 0px 15px 50px 50px;
	display: inline-block;
}
.container-match-head {
	width: 650px;
	height: 100%;
	padding: 0px 15px 15px 10px;
	display: inline-block;
}
.container-matchview {
	height: 100%;
	display: inline-block;
	padding: 0px 15px;
}
.container-matchadd {
	width: 304px;
	height: 100%;
	padding: 5px;
	margin-left: 1px;
	display: inline-block;
	vertical-align: top;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
}
.container-add {
	width: 271px;
	height: 100%;
	padding: 5px;
	display: inline-block;
	background-color: #f3f3f3;
	vertical-align: top;
}
.container-add a{
	color: black;
	font: 400 16px 'Roboto';
	text-decoration: none;
}
.container-add a:hover{
	text-decoration: underline;
}

.btn-send:hover {
	cursor: pointer;
}
.btn-change {
	margin: 10px 15px;
	height: 30px;
	width: 262px;
	border-radius: 5px;
	border: 1px solid black;
	font: 18px 'Roboto';
	background-color: #ffb841;
}
.btn-change:hover {
	cursor: pointer;
}

.paginate {
	padding: 18px 18px;
}
.btn-page {
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: #f3f3f3;
	font: 16px 'Roboto';
	text-decoration: none;
	color: black;
}
.btn-page-cur {
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: #ffb841;
	font: 16px 'Roboto';
	text-decoration: none;
	color: black;
}
.btn-page:hover{
	cursor: pointer;
	background-color: #ffb841;
}

.user-info {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #f3f3f3;
	height: 100%;
	margin: 10px 20px;
}
.user-img {
	width: 130px;
	width: 130x;
	display: inline-block;	
	padding: 5px 0px 0px;
	float: left;	
}
.user-text {
	width: 720px;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	margin-left: 20px;
	padding: 5px 0px;
}
.write-pass{
	margin: 0px 15px 15px;	
	font: 14px 'Roboto';
	min-height: 20px;
	max-height: none;
	height: auto;
	width: 250px;
	border-radius: 5px;
	border: 1px solid black;
	display: block;
	padding: 5px;
}

.videoplayer {
	width: 650px;
	margin: 0px 15px 50px;
	display: inline-block;
}
.news-small {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #f3f3f3;
	height: 100%;
	padding: 5px 0px; 
}
.news-small-head {
	font: 16px 'Roboto';
	display: inline-block;
	padding: 2px 5px 10px;
	max-width: 800px;
}
.news-small-head a{
	color: black;
}
.news-small-body {
	font: 14px 'Roboto';
	display: inline-block;
	padding: 0px 5px 10px;
	max-width: 800px;
}
.news-small-img {
	width: 125px;
	display: inline-block;
	float: left;	
	padding: 5px 0px; 
}

.set-data {
	margin: 0px 0px 20px 20px;
	font: 16px 'Roboto';
}

.data-left {
	cursor: pointer;
}
.data-mid {
	cursor: auto;
	padding: 0px 10px;
}
.data-right {
	cursor: pointer;
}
.selected {
	text-decoration: underline;
	cursor: auto;
}
.date-container {
	display: inline-block;
	margin-left: 20px;
	visibility: hidden;
}
.date {
	font: 14px 'Roboto';
	margin: 0px 10px 0px 5px;
	border-radius: 2px;
	border: 1px solid black;
	cursor: pointer;
	padding: 2px;
}
.btn-show {
	margin: 0px 10px;
	padding: 3px 5px;
	border-radius: 5px;
	border: 1px solid black;
	font: 14px 'Roboto';
	background-color: #ffb841;
	cursor: pointer;
}
#all > a {
	text-decoration: none;
	color: black;
}

.footer {
	padding: 10px;
	line-height: 1.5; 
	font: 14px 'Roboto';
	text-align:center;
}

