body {
	background-color:#f6f6f6;
	min-height: 100%;
}

.header {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
}

.goods-form {
  padding: 5px;
  height: 500px;
  width: 275px;
  display: inline-block;
  overflow: hidden;
}
.goods-form .image {
  margin: 0px auto;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.cart-form {
  padding: 5px;
  height: 400px;
  width: 275px;
  display: inline-block;
  overflow: hidden;
}
.cart-form .image {
  margin: 0px auto;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.link {
	color: black;
	text-decoration: none;
	text-align: center;
}
.link-left{
	color: black;
	text-align: left;
}
.link-h {
	margin-left: 5px;	
}
.desc {
	max-height: 48px;
	overflow: hidden;
}

.head{
	font-size: 18px;	
}

.goods {
	width: 100%;
	display: block;
	max-width: 1220px;
	margin-left: auto;
}

.image-product {
  margin: 0px 10px;
  width: 400px;
  display: inline-block;
}
.shadow-image {
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
	border-radius: 10px;
}
.main-product {
	display: inline-block;
	width: 65%;
	padding-left: 30px;
}
.desc-product {
	font-size: 20px;
	display: inline-block;
	
}
.borders {
	border: 1px solid #f7f7f7;
	border-radius: 10px;
	padding: 20px 20px;
	margin-bottom: 20px;
	background-color: white;
	height: 100%;
}
.flex {
	display: flex;
}
.jc-fe {
	width: 70px;
}
.mw-1000 {
	min-width: 1220px;
}
.i-b {
	display: inline-block;
}
.bl {
	display: block;
}
.btn-del-cart {
	position: relative;
}
.sort-select {
	margin-left: 44px;
	margin-bottom: 7px;
}
.sort-select > select {
	width: 195px;
}
.paginator {
	margin-left: 7px;
}

.form-reg {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.minw {
	min-width: 200px;
}
.foot {
	text-align: center;
}
.mt-80 {
	margin-top: 80px;
}
.down {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.bold-font {
    font-weight: 700; 
	font-size: 20px;
 }
 
.mt-n1 {
	font-family: Roboto;
	font-weight: 500; 
	font-size: 16px;
}

.media-body .author {
  display: inline-block;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}
.media-body .metadata {
  display: inline-block;
  margin-left: .5rem;
  color: #777;
  font-size: .8125rem;
}
.media-heading {
	margin-bottom: 0.75rem;
}
.footer-comment {
  color: #777;
}
.vote.plus:hover {
  color: green;
}
.vote.minus:hover {
  color: red;
}
.vote {
  cursor: pointer;
}
.comments {
	margin-bottom: 1.5rem;
}
.devide {
  padding: 0px 4px;
  font-size: 0.9em;
}
.media-text {
  margin-bottom: 0.5rem;
}
.media-head {
  font-weight: 600;
}
.title-comments {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, .87);
  margin-bottom: 1rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.no-resize {
	resize: none;
}

.form-admin {
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: white;
	padding: 5px 5px 2px;
}
.user-img {
	width: 130px;	
	padding: 5px 0px 0px;
	float: left;	
	margin-right: 10px;
}
.user-text {
	display: flex;
	flex-direction: column;
	min-height: 150px;
}
.user-text > p{
	font-size: 20px;
}
